beautifulsoup4
bs4
charset-normalizer
click
colorama
docopt
Flask
flatbuffers
fonttools
idna
itsdangerous
Jinja2
joblib
keras
kiwisolver
libclang
MarkupSafe
matplotlib
numpy
opencv-python
packaging
Pillow
pipreqs
pyasn1
pyparsing
python-dateutil
requests
scikit-learn
scipy
six
sklearn
soupsieve
tensorboard-plugin-wit
threadpoolctl
urllib3
Werkzeug
wrapt
yarg
